* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  padding-bottom: 40px;
  padding-top: 40px;
  background: #f5f7fa;
  padding-left: 20px;
  padding-right: 20px;
  font-family: 'Montserrat', sans-serif;
}
.wrapper {
  background: #ffffff;
  display: flex;
  max-width: 1200px;
  margin: 0 auto;
  box-shadow: 5px 9px 20px rgba(0, 0, 0, 0.15);
}

.sidebar {
  background: #1e2939;
  width: 370px;
  padding-top: 40px;
  padding-bottom: 40px;
}

.my-photo {
  width: 370px;
}

.about-me-container {
  padding-left: 90px;
  padding-right: 90px;
  padding-top: 110px;
  padding-bottom: 110px;
}

.contacts-title {
  font-size: 22px;
  font-weight: 700;
  line-height: 24px;
  color: #ffffff;
}

.contacts-link {
  color: #616874;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}

.contacts-link-type {
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  color: #ffffff;
  margin-right: 10px;
}

.contacts-container {
  margin-top: 60px;
  margin-left: 40px;
  margin-right: 40px;
  margin-bottom: 20px;
}
.tech-skills-type {
  margin-bottom: 20px;
  font-size: 22px;
  font-weight: 700;
  line-height: 24px;
  color: #ffffff;
}

.tech-skills-container {
  margin-left: 40px;
  margin-top: 55px;
  margin-right: 40px;
}
.tech-skills-item {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  margin-left: 15px;
  color: #ff6b08;
}

.tech-skills-text {
  color: #b2b6bb;
}
.about-me-container {
}

.profession {
  font-size: 14px;
  font-weight: 800;
  line-height: 24px;
  margin-bottom: 24px;
}
.name-title {
  font-size: 45px;
  font-weight: 700;
  line-height: 89px;
  margin-bottom: 23px;
}

.about-me-text {
  color: #595959;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}

.projects-container {
    margin-bottom: 55px;
}

.projects-item{
    color:  #090909;
    font-weight: 700;
    margin-left: 17px;
}

.about-me-title {
  margin-top: 64px;
  margin-bottom: 10px;
  font-size: 22px;
  font-weight: 700;
  line-height: 24px;
}
.projects-link {
  color: #8c8c8c;
  font-weight: 400;
}

.tech-name {
    color: #595959;
    font-weight: 400;

}

.dots {
    color: #595959;
    font-weight: 100;
}

.compani {
    margin-top: 18px;
}

.profession-title {
    color: #090909;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  margin-top: 10px;
  margin-bottom: 15;
}

.compani-item {
  color: #ff6b08;
}

.profession-time {
    font-size: 12px;
    font-weight: 400;
    line-height: 24px;
    color: #bebebe
}

.profession-duties {
    margin-bottom;: 30px
}

.compani-ul {
  margin-left;: 60px
}

.compani-li {
  margin-left: 20px
}

.profession-duties-item {
    color: #595959;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    margin-left: 19px;
}